#userMapbox{
    display:flex;
    padding: 20vh 1vw;
    justify-content: center;
    align-items: center;
     /* padding: 20vw 12vw;
     justify-content: center;
     align-items: center; */
 
 }

 body{
    background-image: url("../Images/createMemoryPage.jpeg");
  background-size: cover;
}
#userMemoryBody{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-shadow: 1px 1px 2px;
    color: #161515;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 25vh;
}

#userMemories{
    display: flex;
    flex-direction: column;
   margin-right: 0.5vw;
}


#greeting{
    text-shadow: 1px 1px 0px;
    color: #161515;
    margin-top: 10vh;
}